[flake8]
max-line-length = 120
max-complexity = 10
# ignore:
# E203 whitespace before ':'
# W503 line break before binary operator
# E712 comparison to False should be 'if cond is False:' or 'if not cond:'
ignore = E203, W503, E712